<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Public/css/app.css">
    <title>Document</title>
</head>
<body>
    <div class="container_1">
        <div class="first">
            <p class="hehe">1</p>
        </div>
        <div class="second">
            <p class="hehe">2</p>
        </div>
        <div class="third">
            <p class="hehe">3</p>
        </div>
        <div class="fourth">
            <p class="hehe">4</p>
        </div>
        <div class="fifth">
            <p class="hehe">5</p>
        </div>
        <div class="sixth">
            <p class="hehe">6</p>
        </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <div class="container_2">
        <div class="firstt">
            <p class="hehehe">1</p>
        </div>
        <div class="secondt">
            <p class="hehehe">2</p>
        </div>
        <div class="thirdt">
            <p class="hehehe">3</p>
        </div>
        <div class="fourtht">
            <p class="hehehe">4</p>
        </div>
        <div class="fiftht">
            <p class="hehehe">5</p>
        </div>
        <div class="sixtht">
            <p class="hehehe">6</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <br><br><br><br>
    <div class="bage">
        <div class="nigga">
            <div class="ciao">
            <p class="lil">ciao</p>
        </div>
        </div>
        <div cl></div>
        <div class="lorem">
            <p class="para">Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor quam modi harum consequatur molestiae optio ex quia quos quis delectus. adipisicing elit. Dolor eveniet excepturi vel ratione eligendi atque, incidunt laboriosam officiis debitis quibusdam?</p>
        </div>
        <div class="lorem">
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quam aut eius repudiandae Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ratione corrupti autem culpa sapiente molestiae cum tenetur deserunt ipsam voluptas? dolores nam ducimus ullam optio ratione similique.</p>
        </div>
        <div class="lorem">
            <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo eveniet inventore possimus exercitationem eum ab natus eos similique Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dignissimos cumque exercitationem reprehenderit molestiae! Quia, quisquam aspernatur. Rem fuga at minus nemo aliquid numquam soluta, maxime quaerat corrupti, earum error? officiis repudiandae.</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="first_contn">
        <div class="first_sub">
            <p>1</p>
        </div>
    </div>


    <div class="second_contn">
            <div class="first_child">
                <p>2</p>
            </div>
            <div class="second_child">
                <p>2</p>
            </div>
    </div>


        <div class="third_contn">
            <div class="first_child_3">
                <p>3</p>
            </div>
            <div class="second_child_3">
                <p>3</p>
            </div>
            <div class="third_child_3">
                <p>3</p>
            </div>
        </div>


        <div class="last_contn">
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>
            <div class="last_child_3">
                <p>12</p>
            </div>

        </div>

</body>
</html>