*{
    text-align: center;
}

.header_1{
    border: 2px black dashed;
}
.para_border{
    background-color: red;
    padding: 10px 20px;
    margin: auto;
    border: 5px black inset;
    border-radius: 50%;
    color: white;
    width: fit-content;
}
.black_header{
    background-color: black;
    color: white;
}
.foot_para{
    border: 2px solid black;
}