nav {
  display: flex;
  justify-content: space-between;
}
img {
  height: 50px;
}

.first_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-left: 15px;
}

.first_nav a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.second_nav {
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 20px;
}
.second_nav a {
  text-decoration: none;
  color: black;
}

.button {
  background-color: black;
  color: white;
  border: black solid 5px;
  border-radius: 3px;
  font-weight: bold;
}
.second_button {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border-bottom: none;
  border-left: none;
  border-top: none;
  border-right: 1px solid rgb(227, 222, 222) !important;
  padding-right: 20px;
}

a {
  font-family: "Montserrat", sans-serif !important;
}
