html {
  scroll-behavior: smooth;
}

.first_section,
.second_section,
.third_section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.head1 {
  background-color: red;
  position: sticky;
  top: 0;
}
.head2 {
  background-color: blue;
  position: sticky;
  top: 0;
}
.head3 {
  background-color: green;
  position: sticky;
  top: 0;
}
.blue_box {
  width: 50px;
  height: 50px;
  background-color: aqua;
  position: fixed;
  top: 30%;
  left: 15%;
  z-index: 1;
}
