* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top left, black, #002536);
    color: white;
    padding: 20px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-nav div,
.right-nav i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #222;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.left-nav div:hover,
.right-nav i:hover {
    background-color: #444;
    color: white;
}

.right-nav button {
    border: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 6px 18px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.right-nav button:hover {
    background-color: #ddd;
    padding: 6px 25px;
}

.right-nav img {
    border-radius: 50%;
}

.type {
    display: flex;
    gap: 15px;
    margin: 30px 0;
    font-weight: bold;
}

.type div {
    background-color: #1e1e1e;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.type div:hover {
    background-color: #ffffff;
    color: black;
}


.artists {
    display: grid;
    grid-template-columns: repeat(4, 316px);
    gap: 15px;
    margin-bottom: 40px;
}

.artist {
    background-color: #101010;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.artist {
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: left;
    padding: 10px;
}

.artist img {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    margin: 0;
    object-fit: cover;
    flex-shrink: 0;
}

.artist p {
    font-size: 14px;
}

.artist:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    color: black;
}

.mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.mid a {
    color: gray;
    text-decoration: none;
    font-size: 18px;
    transform: 0.3s ease;
}

.mid a:hover {
    color: white;
    font-size: 20px;
    transition: 0.8s ease;

}

.mixes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.mix-card {
    background-color: #161616;
    border-radius: 8px;
    padding: 7px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.mix-card img {
    width: 100%;
    height: 80%;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.mix-card h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.mix-card p {
    font-size: 13px;
    color: #aaa;
}

.mix-card:hover {
    background-color: #222;
    transform: scale(1.04);
}

.mix-card:hover img {
    transform: scale(1.08);
}