* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
}

.left {
  height: 100vh;
  width: 25%;
  background-color: rgb(4, 27, 71);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile img {
  width: 80px;
  border-radius: 50%;
  border: 5px rgb(32, 35, 48) solid;
}

.left .name {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.icons div {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 5px;
}

.icons i {
  background-color: rgb(69, 73, 88);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  color: white;
  font-size: 15px;
  border-radius: 50%;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.links div {
  height: 50px;
  margin-left: 10px;
}

.links a {
  text-decoration: none;
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.links div:hover a{
    color: white;
    transition: 0.8s;
}

.links div:hover i{
    color: rgb(8, 152, 255);
    transition: 0.8s;
}




.links i {
  color: grey;
}

.last {
  display: flex;
  flex-direction: column;
}
.last div {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 10px;
  margin-bottom: 5px;
}

.blue {
  color: rgb(8, 152, 255);
}

.right {
  background-image: url(/public/images/background.png);
  background-size: 130%;
  background-position-x: -220px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.text {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.name_right {
  color: white;
  font-size: 50px;
  position: relative;
}

.name_right p {
  position: absolute;
  width: max-content;
  right: 420px;
  top: 200px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dev {
  color: white;
  position: relative;
}

.dev p {
  position: absolute;
  width: max-content;
  right: 526px;
  top: 260px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.last_blue {
  text-decoration: underline rgb(8, 152, 255);
  text-underline-offset: 7px;
}