*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.first_con{
    height: 200px;
    background-color: yellow;
    
}
.red{
    background-color: red;
    width: 50%;
    padding-top: 35px;
}

.second_con{
    background-color: green;
    width: 50px;
    height: 50px;
}

.third_con{
    background-color: pink;
    width: 1000px;
    height: 230px;
}
.black{
    background-color: black;
    color: white;
    width: 600px;
    height: 180px;
    margin-left: 180px;
    margin-top: 0;
}

.fourth_con{
    background-color: rgb(197, 13, 197);
    width: 500px;
    height: 150px;
    padding: 50px;
    margin: 50px;
}