*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    display: flex;
}

.left{
    width: 30vw;
    height: 100vh;
    background-color: rgb(3, 15, 54);
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.profile p{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

img{
    border-radius: 50%;
    border: rgb(46, 47, 49) solid 6px;
    width: 100px;
    margin-top: 30px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.icons i{
    background-color: rgb(46, 47, 49);
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 8px;
    margin-bottom: 10px;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 5px;
}

.links div{
    width: 100%;
    height: 45px;
    cursor: pointer;
    padding-left: 20px;
}
.links div i{
    color: rgb(83, 84, 86);
}
 
.links div a{
    color: rgb(83, 84, 86);
    text-decoration: none;
}

.links div:hover a{
    color: white;
}

.links div:hover i{
    color: rgb(7, 119, 255);
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    row-gap: 10px;
}

.bold{
    font-weight: 700;
}

.blue{
    color: rgb(7, 119, 255);
}

.right{
    background-image: url(/public/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.text{
    position: absolute;
    top: 180px;
    right: inherit;
}

.right div{
    color: white;
}
.name{
    font-size: 45px;
    font-weight: bold;
}

.job{
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: rgb(7, 119, 255);
}