* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background: white;
  position: relative;
  z-index: 1000;
}

.links {
  display: flex;
  gap: 40px;
}

.links a {
  text-decoration: none;
  color: rgb(122, 122, 122);
  transition: 0.2s ease-in;
}

.links a:hover {
  color: black;
}

.click-me .invite {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 156, 91),
    rgb(114, 255, 229)
  );
  border-radius: 25px;
}


.menu-btn {
  display: none;
  cursor: pointer;
}

.menu-btn i {
  font-size: 24px;
}

.closing {
  display: none;
}

.header {
  display: grid;
  grid-template-columns: 35% 1fr;
  height: 100vh;
  padding: 60px;
  overflow: hidden;
}

.left {
  display: flex;
  flex-direction: column;
  row-gap: 55px;
  margin-top: 70px;
}

.left h1 {
  font-size: 50px;
}

.left p {
  color: rgb(122, 122, 122);
}

.left button {
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 156, 91),
    rgb(114, 255, 229)
  );
}

.right {
  position: relative;
}

.right .first-pic {
  position: absolute;
  top: -46%;
}

.right .second-pic {
  position: absolute;
  top: -40%;
  right: -12%;
}

.mid {
  background: rgb(248, 248, 248);
  padding: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.mid .bottom .icon-text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.mid .bottom .icon-text div {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
  background-color: rgb(243, 243, 243);
  transition: 0.8s ease;
}

.mid .bottom .icon-text div:hover{
  background-color: rgb(223, 223, 223);
}

.icons {
  width: 60px;
}

.last {
  background: rgb(240, 238, 238);
  padding: 60px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.articles div {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.articles div p:nth-of-type(1){
  font-size: 12px;
  color: gray;
}

.articles div p{
  color: gray;
}

.articles img {
  width: 100%;
  border-radius: 10px;
}

.money {
  height: 200px;
  object-fit: cover;
}

footer {
  height: 180px;
  background: rgb(44, 48, 77);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-last {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  justify-content: center;
  align-items: center;
}

.last-icons {
  display: flex;
  column-gap: 15px;
}

.mid-last {
  display: flex;
  align-items: center;
  column-gap: 80px;
}

.links-mid-left,
.links-mid-right {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.links-mid-left a,
.links-mid-right a {
  color: white;
  text-decoration: none;
}

.right-last {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  align-items: end;
}

.right-last button {
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 156, 91),
    rgb(114, 255, 229)
  );
}

#menu-toggle {
  display: none;
}

@media (max-width: 425px) {
  .navbar {
    padding: 0 20px;
    justify-content: space-between;
  }

  .right {
    order: 1;
  }

  .left {
    order: 2;
  }

  .menu-btn {
    display: block;
  }

  .navbar .invite {
    display: none;
  }

  .mid .top h2 {
    text-align: center;
  }

  .links {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 89vw;
    background: white;
    padding: 25px;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  label .closing {
    display: none;
  }

  #menu-toggle:checked ~ .links {
    opacity: 1;
    transform: translateY(0);
  }

  #menu-toggle:checked + .links + .click-me + label .bara {
    display: none;
  }

  #menu-toggle:checked + .links + .click-me + label .closing {
    display: block;
  }

  .header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: auto;
    gap: 40px;
  }

  .left {
    margin: 0;
    text-align: center;
    gap: 20px;
  }

  .left h1 {
    font-size: 36px;
  }

  .left p {
    max-width: 300px;
    margin: auto;
  }

  .left button {
    margin: auto;
  }

  .right {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .right .first-pic,
  .right .second-pic {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .background {
    width: 800px;
    height: 800px;
    position: absolute;
    max-width: none;
    left: -150px;
    top: -430px;
  }

  .phones {
    width: 100%;
    max-width: 350px;
    position: relative;
    top: 40px;
    left: -125px;
  }

  .mid {
    padding: 40px 20px;
    gap: 40px;
    display: flex;
  }

  .mid .bottom .icon-text {
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: center;
  }

  .mid .bottom .icon-text div {
    gap: 20px;
    justify-content: center;
  }

  .articles {
    grid-template-columns: 1fr;
  }

  .articles div {
    width: 100%;
  }

  footer {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
    gap: 30px;
    text-align: center;
  }

  .mid-last {
    flex-direction: column;
    gap: 10px;
  }

  .links-mid-left,
  .links-mid-right {
    flex-direction: column;
    align-items: center;
  }

  .right-last button {
    margin-bottom: 10px;
  }
  .right-last {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    align-items: center;
  }
}







