body {
  height: 150vh;
}
div {
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid black;
  background: red;
  margin-bottom: 200px;
}

.last-exo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.last-exo::after{
  content: '';
  background-color: blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}