.top{
    width: 100%;
    height: 33vh;
    display: flex;
    column-gap: 5px;

}

body{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.top div{
    width: 100%;
}

.left div, .right{
    background-color: red;

}
.left{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.left-first, .left-second{
    height: calc(100% / 2);

}

/* middle */


.middle{
    width: 100%;
    height: 33vh;
    display: flex;
    column-gap: 5px;
}
.middle-left{
    display: flex;
    width: 50%;
    flex-direction: column;
    row-gap: 5px;
}
.middle-left div{
    width: 100% ;
    height: calc(100% /3);
    background-color: red;


}
.middle-right {
    width: 50%;
    display: flex;
    column-gap: 2px;
}
.middle-right div{
    width: 50%;
    background-color: red;
    height: 33vh;

}
/* bottom */

.bottom{
    display: flex;
    column-gap: 5px;
    width: 100%;
    height: 30vh;
}

.bottom div{
    width: 50%;
    height: 100%;
}

.bottom-left{
    display: flex;
    column-gap: 5px;
}
.bottom-left div{
    background-color: red;
    height: 100%;
    width: calc(100% / 5);
}
.bottom-right{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    height: 100%;
}
.bottom-right div{
    width: 100%;
    height: 50%;
    background-color: red;
}